{% extends 'base.html' %}

{% block content %}
    <h2 class="form-title">Modifier votre critique</h2>
    <form enctype="multipart/form-data" method="post" class="edit-review-form">
        <div class="ticket_review">
            <div class="date_time">
                <h4>{{ ticket.user.username }} a demandé une critique</h4>
                <p class="time">{{ ticket.time_created|date:"H:i, d F Y" }}</p>
            </div>
            <div class="ask_review">
                <strong>{{ ticket.title }}</strong>
                <p>{{ ticket.description }}</p>
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}" style="max-height: 400px; width: auto; max-width: 300px;" alt="Image du ticket: {{ ticket.title }}">
                {% endif %}
            </div>
        </div>
        {% csrf_token %}
        <!-- Champ pour le titre de la critique -->
        <div class="form-group">
            <label for="headline" class="form-label">Titre de la critique :</label>
            <input type="text" id="headline" name="headline" value="{{ edit_form.headline.value }}" required aria-required="true" class="form-input">
        </div>

        <!-- Champ pour le corps de la critique -->
        <div class="form-group">
            <label for="body" class="form-label">Description :</label>
            <textarea id="body" name="body" rows="4" class="form-textarea">{{ edit_form.body.value }}</textarea>
        </div>

        <!-- Champ pour la note -->
        <div class="form-group">
            <label for="rating" class="form-label">Note :</label>
            <input type="number" id="rating" name="rating" value="{{ edit_form.rating.value }}" min="0" max="5" required class="form-input">
        </div>

        <div class="form-actions">
            <button type="submit" name="edit_review" class="submit-button">Envoyer</button>
        </div>
    </form>
{% endblock content %}
