{% extends 'base.html' %}
{% block content %}
    <h2>Mes publications</h2>

    {% for post in combined_posts %}
        {% if post.is_ticket %}
            <div class="ticket_and_review">
                <div class="ticket">
                    <div class="date_time">
                        <h4>Ticket: {{ post.ticket.title }}</h4>
                        <p class="time">{{ post.ticket.time_created }}</p>
                    </div>
                    <div class="ask_review">
                        <p>{{ post.ticket.description }}</p>
                        {% if post.ticket.image %}
                            <img src="{{ post.ticket.image.url }}" alt="Image pour {{ post.ticket.title }}">
                        {% endif %}
                        
                        <div class="actions">
                            <a class="button_edit" href="{% url 'edit_ticket' post.ticket.id %}">Modifier</a> </br>
                            <a href="{% url 'delete_ticket' post.ticket.id %}" class="button_delete">Supprimer</a>
                        </div>
                    </div>
                </div>

                {% if post.reviews %}
                    <div class="ticket_review">
                        {% for review in post.reviews %}
                        <div class="date_time">
                            <h4>Vos critiques pour ce ticket:</h4>
                            <p class="time">{{ review.time_created }}</p>
                        </div>
                            <div class="answer_review">
                                <p><strong>{{ review.user.username }}</strong></p>
                                <span class="star-rating">
                                    {% for i in "12345" %}
                                        {% if forloop.counter <= review.rating %}
                                            <i class="fas fa-star checked"></i>
                                        {% else %}
                                            <i class="fas fa-star"></i>
                                        {% endif %}
                                    {% endfor %}
                                </span>
                                <p>{{ review.body }}</p>
                            </div>
                        {% endfor %}
                        <div class="actions">
                            <a class="button_edit" href="{% url 'edit_ticket' post.ticket.id %}">Modifier</a> </br>
                            <a href="{% url 'delete_ticket' post.ticket.id %}" class="button_delete">Supprimer</a>
                        </div>
                    </div>
                {% else %}
                    <p>Aucune critique pour ce ticket.</p>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}

    <h3>Mes Critiques</h3>
    {% for post in combined_posts %}
        {% if post.is_review %}
            <div class="critique">
                <div class="review_ticket">
                    <div class="date_time">
                        <h4>Critique pour le ticket: {{ post.review.ticket.title }}</h4>
                        <p class="time">{{ post.review.time_created }}</p>
                    </div>
                    <p>{{ post.review.body }}</p>
                    <span class="star-rating">
                        {% for i in "12345" %}
                            {% if forloop.counter <= post.review.rating %}
                                <i class="fas fa-star checked"></i>
                            {% else %}
                                <i class="fas fa-star"></i>
                            {% endif %}
                        {% endfor %}
                    </span>
                </br>
                </br>
                {% if post.review.ticket.image %}
                        <img src="{{ post.review.ticket.image.url }}" alt="Image pour {{ post.review.ticket.title }}">
                    {% endif %}

                    <div class="actions">
                        <a class="button_edit" href="{% url 'edit_review' post.review.id %}">Modifier</a> </br>
                        <a href="{% url 'delete_review' post.review.id %}" class="button_delete">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <h3>Critiques sur mes Tickets</h3>
    {% for post in combined_posts %}
        {% if post.is_review_response_to_user_ticket %}
            <div class="critique">
                <div class="review_ticket">
                    <h4>Critique de {{ post.review.user.username }} pour votre ticket "{{ post.review.ticket.title }}"</h4>
                    {% if post.review.ticket.image %}
                        <img src="{{ post.review.ticket.image.url }}" alt="Image pour {{ post.review.ticket.title }}">
                    {% endif %}
                    <p>{{ post.review.body }}</p>
                    <span class="star-rating">
                        {% for i in "12345" %}
                            {% if forloop.counter <= post.review.rating %}
                                <i class="fas fa-star checked"></i>
                            {% else %}
                                <i class="fas fa-star"></i>
                            {% endif %}
                        {% endfor %}
                    </span>
                    <p class="time">{{ post.review.time_created }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% if post.is_review_response_to_user_ticket %}
        <p>Aucun ticket ou critique disponible.</p>
    {% endif %}
{% endblock %}