body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: larger;
}

.title {
    align-self: center;
    border: 2px solid #111111;
    margin: 1% 2% 0% 2%;
    background-color: #111111;
    border-radius: 50px;
}

#icon {
    margin: 0;
    padding: 0.2%;
    width: 10%;
    border-radius: 5px;
}

.ticket_and_review {
    margin: 0 2% 0.4% 2%;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    border: 2px solid;
    background-color: #a3a681;
    padding: 0.7%;
}

.ticket_review, .ticket {
    border-radius: 50px;
    border: 2px solid;
    margin: 0 30% 0% 30%;
    background-color: rgb(255, 255, 255);
}

.date_time {
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 2% 0 1%;
    border-radius: 52px 45px 34px 28px / 50px 39px 35px 47px;
    border-bottom: 2px solid;
    margin: 0;
    height: 60px;
}

.answer_review, .ask_review {
    margin-top: 1%;
}

.time {
    font-size: medium;
    margin-top: 5%;
}

.date_time h4 {
    margin-right: 45%;
    font-size: large;
}

img {
    width: 300px;
    margin-bottom: 1%;
}

.create_review_with_ticket {
    display: inline-block;
    border: 2px solid;
    border-radius: 30px;
    background-color: #a3a681;
    padding: 1%;
    margin-bottom: 1%;
    color: white;
    text-decoration: none;
}

.star-rating {
    color: #ddd;
}

.star-rating .fa-star.checked {
    color: #ffcc00;
}

.link_input_connect {
    display: flex;
    flex-direction: row;
    gap: 15px;
    border-radius: 30px;
    border: 2px solid;
    margin: 0 2% 0.4% 2%;
    padding: 0.4%;
    justify-content: flex-end;
    background-color: #a3a681;
}

.link_ticket_review {
    display: flex;
    flex-direction: row;
    gap: 1%;
    margin: 0.2%;
    padding: 1%;
    justify-content: center;
}

.ticket_button, .review_button {
    border-color: #000000;
}

.ticket_button, .review_button, 
.flux_link, .posts_link, .followers_link, 
.password_link, .logout_link {
    border: 2px solid;
    border-radius: 30px;
    background-color: #a3a681;
    padding: 0.4%;
    color: white;
    text-decoration: none;
    border-color: #a3a681;
}



.ticket_button:hover,
.review_button:hover,
.create_review_with_ticket:hover,
.flux_link:hover,
.posts_link:hover,
.followers_link:hover,
.password_link:hover,
.logout_link:hover {
    color: #0a1f0b;
    text-decoration: none;
    border-color: #000000;
}

.critique {
    margin: 0 2% 0.4% 2%;
    border-radius: 50px;
    border: 2px solid;
    background-color: #a3a681;
    padding: 0.7%;
}

.review_ticket {
    border-radius: 50px;
    border: 2px solid;
    margin: 1% 30% 1% 30%;
    background-color: rgb(255, 255, 255);
    padding: 1%;
}

.button_edit {
    display: inline-block;
    border: 2px solid;
    border-radius: 30px;
    background-color: #a3a681;
    padding: 0.5% 1%;
    margin: 1% 0;
}

.button_edit a {
    color: white;
    text-decoration: none;
}