{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <title>LITReview</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '\css\style .css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/png" href="{% static 'favicon_io/favicon-32x32.png' %}">
</head>

<body>
    <header>
        <div class="title">
            <img id="icon" src="{% static 'favicon_io\android-chrome-512x512.png' %}" alt="logo LITReview">
        </div>  
        {% if user.is_authenticated %}
        <p>Bienvenue <strong>{{ user.username }}</strong> sur LITReview.</p>
        <nav aria-label="Navigation principale">
            <div class="link_input_connect">
                
                <a class="flux_link" href="{% url 'home' %}" role="button">Flux</a>
                <a class="posts_link" href="{% url 'my_posts' %}" role="button">Mes Publications</a>
                <a class="followers_link" href="{% url 'followers' %}" role="button">Abonnements</a>
                <a class="password_link" href="{% url 'password_change' %}" role="button">Changer mot de passe</a>
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <a href="#" class="logout_link" onclick="if(confirm('Voulez-vous vous déconnecter?'))
                    { this.closest('form').submit(); return false; }" role="button">Se déconnecter</a>
                </form>
            </div>
        </nav>
        {% endif %}
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>

    <footer>
        <p>&copy; 2024 LITReview. Tous droit réservés.</p>
    </footer>
</body>

</html>